
  body {
    font-family: sans-serif;
    background-color: mediumblue;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }

  .form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    margin-bottom: 20px;
  }

  .form-header {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }

  .form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid white;
    border-radius: 5px;
  }

  .form-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid white;
    border-radius: 5px;
    resize: vertical;
  }

  .form-submit-btn {
    width: 100%;
    padding: 20px;
    background-color: navy;    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
  }

  .form-submit-btn:hover {
    background-color: royalblue;
    transform: scale(1.1);
  }


  .titulo{
    color: black;
    margin-top: 5%;
    margin-right: 50%;
    font-size: 40px;
    font-family: sans-serif;


  }

  .paragrafo{
    color: white;
    font-family:  sans-serif;
    margin-right: 80%;
    font-size: 20px;
    margin-top: 6px;
  }

  .bip{
    font-family:  sans-serif;
    color: black ;
    font-size: 30px;
  }

    .img{
    padding: 30px;
    width: 25%;
  }